@use 'base/variables' as v;
@use 'base/mixins' as m;

.acciones, .acciones-actualizar {
    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: calc(v.$separacion/2);
        margin-bottom: 5rem;
        width: 100%;
    }
    a {
        margin-top: 2rem;
        color: v.$blanco;
        display: block;
        margin-bottom: 2rem;
        text-align: center;
    }
    a:hover {
        color: darken(v.$blanco, 15%);     
    }
}
.acciones-actualizar {
    margin-top: 0rem;
}