@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario {
    width: 97%;
    margin: 5rem auto 0 auto;
}
.campo {
    display: block;
    @include m.tablet {
        display: flex;
    }
    margin-bottom: 2rem;
    align-items: center;

    label {
        display: block;
        flex: 0 0 12rem;
        margin-bottom: 1rem;
        @include m.tablet {
            text-align: unset;
            margin-bottom: unset;
        }
    }
    input {
        flex: 1;
        border: none;
        padding: calc(v.$separacion / 4);
        border-radius: 1rem;
        width: 100%;

        &:disabled {
            background-color: lighten(v.$negro, 30%);
            color: v.$blanco;
            cursor: not-allowed;
        }
    }
}